table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: left;
}

/* Flex container */
.flex-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.flex-item {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.grid-item {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
